<ul class="sidebar-nav list-group">

  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}?next={{ request.path }}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}
  <br>
  <li class="list-group-item"><a href="{% url 'films:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'films:movie-list' %}">Movies</a></li>
  <li class="list-group-item"><a href="{% url 'films:genre-list' %}">Genres</a></li>
  <li class="list-group-item"><a href="{% url 'films:topic-list' %}">Topics</a></li>
  <li class="list-group-item"><a href="{% url 'films:actor-list' %}">Actors</a></li>
  <li class="list-group-item"><a href="{% url 'films:country-list' %}">Countries</a></li>
</ul>
